@page "/DeleteNote/{Id:int}"
@using System
@using System.Collections.Generic
@using MedicalNotes.Blazor.Data
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>DeleteNote</h3>

<p>Are you sure you want to delete this entry (Id @Id ) ?</p>

<div>
    <button onclick="Cancel">Cancel</button>
    <button @onclick="DeleteNote">Delete Note</button>

</div>


@code {
    [Parameter]
    public int Id { get; set; }
    public string Url = "https://localhost:44369/api/notes";
    Response<object> response = new Response<object>();

    private void Cancel() => NavigationManager.NavigateTo("/Notes");

     private async Task DeleteNote()
    {     
            var response1 = await Http.DeleteAsync(Url + "/" + Id);
            response = response1.Content.ReadFromJsonAsync<Response<object>>().Result;  
        NavigationManager.NavigateTo("/Notes");
    }
}
