@page "/"



<body class="d-flex flex-column min-vh-100">

    <nav class="navbar fixed-top navbar navbar-expand-lg bg-dark navbar text-center">
    <div class="container-fluid">
        <a class="navbar-brand text-light ">Medical Notes</a>         
    <a href="https://localhost:44306/notes" class="btn btn-dark">Empieza ahora!</a>
    </div>
</nav>

<h1 class="container">Bienvenido</h1>
<p class="container"></p>
<p class="card-text">Con ésta app puedes llevar un control de tus citas médicas.</p>


<div class="card-group">
  <div class="card text-center">
    <img src="images/1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Guarda información de tu doctor</h5>
    </div>
  </div>
  <div class="card text-center">
    <img src="images/2.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Diagnóstico</h5>
    </div>
  </div>
  <div class="card text-center">
    <img src="images/4.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Y receta.</h5>
    </div>
  </div>
</div>



     <footer class=" footer fixed-bottom footer bg-dark text-center ">
    <div class="container"></div>
    <div class="container">
        <p class="text-light">
            &copy; 2022 Miguel Moreau
        </p>
    </div>
    </footer>



      
 
</body>










@*<SurveyPrompt Title="How is Blazor working for you?" />*@
