@inherits LayoutComponentBase


<div style="background-image:none;background-color:darkslategray;" class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a class="btn btn-dark"href="https://www.linkedin.com/in/miguel-moreau-38b729183/" target="_blank">About</a>
    </div>


    <div class="content px-4">
        @Body
    </div>
</div>
